/* Grades.css */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: #f8f9fa;
  color: #333333;
  font-weight: 500;
}

tbody tr:hover {
  background-color: #f1f3f5;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.page-number {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.page-number:hover, .page-number.active {
  background-color: #e9ecef;
}

.add-grade-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
  margin-right: 10px;
}

.add-grade-btn:hover {
  background-color: #218838;
}

.delete-button {
  color: white;
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.delete-button:hover {
  background-color: #c82333;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  background-color: #fff;
    padding: 60px;
    border-radius: 4px;
    max-width: 500px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    padding-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.modal-submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.modal-cancel-button {
  padding: 10px;
  background-color: #ff2424;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.modal-submit-button:hover {
  background-color: #0069d9;
}

.modal-cancel-button:hover {
  background-color: #d90000;
}

.trimester-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.trimester-button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.trimester-button.active {
  background: #007bff;
  border-color: #007bff;
  color: white;
}

.b-group,
.student-group,
.class-group {
  display: inline-block;
  margin-right: 10px;
}

.select-dropdown {
  position: relative;
}

.select-dropdown select {
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  appearance: none;
  width: 200px;
}

.select-dropdown:after {
  content: '\25BC';
  font-size: 12px;
  color: #555;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.student-input,
.class-input,
.b-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.modal-error-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #dc3545;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-error-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-error-body {
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-error-submit-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.modal-error-submit-button:hover {
  background-color: #c82333;
}

.warning-message {
  color: #dc3545;
  margin-bottom: 20px;
  font-size: 16px;
}

.modal-warning-header {
  background-color: #ffc107;
  color: #212529;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-warning-close-button {
  background: none;
  border: none;
  color: #212529;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-warning-body {
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-warning-submit-button {
  padding: 10px 20px;
  background-color: #ffc107;
  color: #212529;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.modal-warning-submit-button:hover {
  background-color: #e0a800;
}